<div class="pt-4 flex flex-wrap">
  <pre class="whitespace-pre text-dark">
 _   _
| | | | ___  _ __ ___   ___
| |_| |/ _ \| '_ ` _ \ / _ \
|  _  | (_) | | | | | |  __/
|_|_|_|\___/|_| |_| |_|\___|
  </pre>
  <pre class="whitespace-pre text-dark">

|  _ \ __ _ _ __   ___| |
| |_) / _` | '_ \ / _ \ |
|  __/ (_| | | | |  __/ |
|_|   \__,_|_| |_|\___|_|
  </pre>
</div>

<p class="text-light">Сервер для дистанционного управления домашней системой</p>

<hr class="hr-block" />

<app-voice-page></app-voice-page>

<hr class="hr-block" />

<app-sound-page></app-sound-page>

<hr class="hr-block" />

<app-timer-page></app-timer-page>
